@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans';
    font-size: 14px;
}

/* main styling */
body {

}

main {
    height: 100vh;
    width: 100%;
    background: var(--gradient1);
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.logo-container {
    width: 27%;
    margin: 2rem;
}

.main-image-container {
    width: 100%;
    height: 31%;
    background: url(./images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container {
    width: 90%;
    margin: 4.6rem auto;
    text-align: center;
}

.title {
    font-size: 2.86rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10.83px;
    line-height: 3rem;
    color: var(--Dark-Grayish-Red);
}

.title span {
    font-weight: 300;
    color: var(--Desaturated-Red);
}

.description {
    margin-top: 1.14rem;
    line-height: 1.57rem;
    color: var(--Desaturated-Red);
}

.email-request-container {
    margin-top: 2.29rem;
}

form {
    position: relative;
}

input {
    min-height: 3.43rem;
    padding: 1rem;
    border: 1px solid var(--Desaturated-Red);
    border-radius: 2rem;
    width: 100%;
}

#submit {
    min-height: 3.43rem;
    background: var(--gradient2);
    width: 20%;
    border-radius: 2rem;
    border: none;
    transform: translate(193%, -99%);
    cursor: pointer;
    box-shadow: 0 5px 30px var(--Desaturated-Red);
}

#submit:hover {
    filter: brightness(120%);
}

.error-icon {
    position: relative;
    top: -45px;
    left: 110px;
}

.error {
    color: var(--Desaturated-Red);
}

@media screen and (min-width: 1440px) { 
    html {
        font-size: 16px;
    }

    main {
        width: 100%;
        flex-direction: row;
        background: url(./images/bg-pattern-desktop.svg);
    }

    .logo-container {
        position: absolute;
        top: 4.69rem;
        left: 10.31rem;
        width: 11%;
    }

    .text-container {
        text-align: left;
        margin: auto;
        width: 60%;
    }

    .title {
        font-size: 4rem;
        line-height: 4.44rem;
    }

    .main-image-container {
        height: 100%;
        background: url(./images/hero-desktop.jpg);
        background-repeat: no-repeat;
        order: 2;

    }

}